<?php

function get_site_config($key) {
	switch ($key) {
		case "relative_path":
			// e.g. "withbitcoin" or false
			return false;
	
		default:
			throw new Exception("Unknown site configuration " . $key);
	}
}